<div class="heading">
  <h3>Add a New List</h3>
</div>

<div class="container w-25 mt-4 p-3 border">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
