// Import page-specific CSS files here.
@import "home";

.main-index {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}

.form-contain {
  width: 90vw;
  margin: 0 auto;
}

.form-index {
  width: 40%;
  margin: 50px 0 50px 30px;
}
