.card-movie {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: none;
  height: 500px;
  width: 40%;
  margin: 50px;
  font-size: 11px;
  box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.2);
}

.movie-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 15px 20px;
}

.movie-title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.movie-title * {
  margin: 0 8px 0 0;
}

.movie-quote {
  display: flex;
  margin-top: auto;
  align-items: center;
}

.movie-quote-text {
  font-style: italic;
  font-size: 13px;
  margin: 0 0 0 5px;
}

.fa-star {
  color: rgb(204, 204, 0);
}

.button-delete {
  color: red;
  font-size: 13px;
  margin-left: auto;
}
