.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 450px;
  width: 250px;
  margin: 30px;
  padding-top: 70px;
  font-size: 20px;
  border: 1px solid grey;
  background-image: "../../images/poster1.jpg";
}
