.card-index {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 450px;
  width: 16%;
  margin: 30px;
  padding-top: 70px;
  font-size: 20px;
}

.card-title {
  color: white;
}
